
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 400px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #ff0065;
  border: 2px rgb(24, 26, 23);
  border-radius: 10px;
  border-style: inset;

  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.title{
  margin :auto;

}
