.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 80%;
  padding: 10px;
  margin-right: 25px;
  background-color: #BFF9FF;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  border-color: gray;
  border-style: inset;
  border-radius: 20px 20px 20px 20px;
}
